body{
background: #000A0F;
  padding: 0px;
  margin: 0px;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight:300;
font-style: normal;
}

a{
  text-decoration: none;
  color:White;
}
ul{
  list-style-type: none;
}
.header__inner{
  position: relative;
  width:100%;
  height:136px;
  background: #00111A;
}
.logo{
  position: relative;
  left:2%;
  width:275px;

}
.logo_text{
  font-weight: 700;
font-size: 42px;
line-height: 49px;
text-align: center;
margin-top:-40px;
}
.logo_image{
  margin-top: -10px;
}
.menu{
  position: relative;
  left:500px;
  width:600px;
  height:100%;
  top:-123px;
  
  align-items: center;
  justify-content:  space-between;
  display: flex;
}
.menu_list{
  display: flex;
}
.menu_list li{
margin-left:38px;
font-weight: 500;
font-size: 35px;
line-height: 49px;


}
.user_menu{
  position: relative;
  width:100px;
  height:100%;
left:1300px;
top:-200px;
  align-items: center;
  justify-content:  space-between;
  display: flex;
}

.user_menu img{
margin-top: -110px;
}
.top__inner{
  position: relative;
  left:120px;
  width:1192px;
  height:260px;
  background: linear-gradient(180deg, #091E26 0%, #00131C 100%);
border-radius: 8px;
top:147px;

}
.top_info_title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
font-size: 40px;
line-height: 140%;
}
.top_info_title , .top_info_descr{
  position: relative;
  width:300px;
  left:616px;
  top:50px;

}
.top_info_descr{
  font-weight: 400;
font-size: 16px;
line-height: 100%;
margin-top: -30px;
width:350px;
color: #E1E1E6;

}
.info img{
  position: relative;
  top:-257px;
  left:110px;
}
.info{
  position: relative;
  top:20px;
}
.food_info{
  position: relative;

  
  
}
.main_dish{
  
  position: relative;
  width:1192px;
  left:120px;
  height:530px;
  margin-bottom: 30px;
}
.dish_name{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 140%;


color: #E1E1E6;


color: #E1E1E6;
}
.food_container{
margin-top:23px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
padding: 24px;
gap: 15px;
isolation: isolate;
width: 304px;
height: 462px;
background: #00070A;
border: 1px solid #000204;
border-radius: 8px;
}
.name{
  font-weight: 700;
font-size: 24px;
line-height: 140%;

font-family: 'Poppins';
text-align: center;
}
.descr{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;


text-align: center;



color: #C4C4CC;
}
.cost{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 160%;
/* identical to box height, or 51px */

text-align: center;

/* Tints/Cake 200 */

color: #82F3FF;

}
.buy{
  width: 98px;
height: 48px;


background: #750310;
border-radius: 5px;
color:white;


flex: none;
order: 1;
flex-grow: 0;
}
.food ul{
  display: flex;

  

}
.food li{
  margin-top:-15px;
  margin-left:-40px;
  margin-right:55px;
}

.about_us{
  position: relative;
  width:1120px;
  height:120px;
  left:120px;

background: linear-gradient(180deg, #091E26 0%, #00131C 100%);
border-radius: 8px;

}
.about_us_info , .reviews_info{
  position: relative;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 140%;
top:35px;
left:40px;

color: #E1E1E6;
}

.reviews{
  position: relative;
  width:1120px;
  height:120px;
  left:120px;
  margin-top:50px;
background: linear-gradient(180deg, #091E26 0%, #00131C 100%);
border-radius: 8px;
}

.bottom_footer{
  width:100%;
  height:77px;
  display:flex;
  background: #00111A;
  top:250px;
  position: relative;
  align-items: center;
}
.footer_descr{

  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

/* Light/Light 700 */
position: relative  ;
left:200px;
color: #4D585E;

}

.footer_phone{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 160%;
/* identical to box height, or 32px */
left:250px;
text-align: center;

/* Light/Light 300 */

color: #E1E1E6;

opacity: 0.5;
position: relative;
}

.author{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
/* or 22px */
left:750px;
position: relative;
/* Light/Light 200 */

color: #FFFAF1;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}